<div id="<%= dom_id point %>">
  <p>
    <strong>X:</strong>
    <%= point.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= point.y %>
  </p>

  <p>
    <strong>Z:</strong>
    <%= point.z %>
  </p>

  <p>
    <strong>Resorte:</strong>
    <%= point.resorte_id %>
  </p>

</div>
