<div id="<%= dom_id resorte %>">
  <p>
    <strong>Diam:</strong>
    <%= resorte.diam %>
  </p>

  <p>
    <strong>Dext:</strong>
    <%= resorte.dext %>
  </p>

  <p>
    <strong>Vtas:</strong>
    <%= resorte.vtas %>
  </p>

  <p>
    <strong>Altura:</strong>
    <%= resorte.altura %>
  </p>

  <p>
    <strong>Luz1:</strong>
    <%= resorte.luz1 %>
  </p>

  <p>
    <strong>Luz2:</strong>
    <%= resorte.luz2 %>
  </p>

</div>
